body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    display: block;
    margin-bottom: 10px;
    /* //margin n reconhece em text inline */

}
h1{
    text-align: center;
    color: black;
    position: relative;
    top: -60px;
}
input{
    border: 1px solid #ccc;
    border-radius: 4px; /* deixa o input com borda arredondada */
    width: 100%; /* faz o input ocupar toda a largura do container */
    padding: 8px; /*espaçamento interno do input entre o conteuod e a borda */
}
.container{
    background-color: lightblue;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    padding: 60px;
}
#botoes{
    margin-top: 60px;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}